@import "./reset.scss";

@font-face {
	font-family: 'Graphik bold';
	src: url('../fonts/Graphik-Bold.woff');
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik-Regular.woff');
}

body {
	font-family: 'Graphik', sans-serif;
	font-weight: 400;
}

.wrapper {
	overflow: hidden;
}

.container {
	width: 1210px;
	max-width: 100%;
	margin: 0 auto;
}

.avatar {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;

	&__picture {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}