.organize {
	padding: 226px 0;

	&__content {
		@extend %flex;

		&-info {

			&-title {
				@extend %title;
				margin-bottom: 7px;
			}

			&-text {
				@extend %text;
			}

			&-button {
				@extend %button;
				margin-top: 60px;
			}
		}
	}
}