@include laptop {
	.container {
		max-width: 750px;
	}

	.subscribe {
		padding: 60px 0;
		&__content {
			flex-direction: column;

			&-info {
				margin-top: 80px;
			}
		}
	}

}

@include tablet {
	.container {
		max-width: 500px;
	}

	.subscribe {

		&__content-mobile {
			display: block;
		}

		&__content-image-img {
			width: 100%;
			margin-top: 40px;
		}
	}

}

@include mobile {
	.container {
		max-width: 420px;
	}


}

@include mobile-small {
	.container {
		max-width: 290px;
	}

	.subscribe {

		&__content-info-form {

			&-input {
				width: 290px;
				margin-bottom: 12px;
			}

			&-button {
				width: 290px;
			}
		}
	}

}